<%= title "Edit #{resource_name.to_s.humanize}", with_h3: false %>
<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.text_field :name, :autofocus => true, class: 'form-control', placeholder: :name %>
    </div>
    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', placeholder: :email %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <fieldset>
      <p>Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control', placeholder: :password %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: :password_confirmation %>
      </div>
    </fieldset>

    <fieldset>
      <%= f.label :avatar %>
      <%= f.file_field :avatar, class: 'form-control' %>
    </fieldset>

    <fieldset>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.password_field :current_password, class: 'form-control', placeholder: :current_password %>
      </div>
    </fieldset>

    <%= f.submit 'Update', :class => 'btn btn__form btn__big' %>
  <% end %>

  <h3>Cancel Account</h3>
  <p>Unhappy? We'll be sad to see you go.</p>
  <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn__form btn__big' %>
</div>
