<div class="col-10 offset-1">
  <%= form_for @article do |f| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited
          this article from being saved:</h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :text %>
      <%= f.text_area :text, class: 'form-control', cols: '30', rows: '10' %>

      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name, class: 'form-control' %>

      <%= f.label 'tags (separated by comas)' %>
      <%= f.text_field :tag_list,  class: 'form-control' %>

      <%= f.label :image %>
      <%= f.file_field :image_filename, class: 'form-control' %>

      <%= f.submit(class: 'btn btn__form') %>
  <% end %>
</div>
