<div class="content-form">
  <%= form_for @article do |f| %>
      <% if @article.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@article.errors.count, "error") %> prohibited
              this article from being saved:</h2>
            <ul>
              <% @article.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <p>
        <%= f.text_field :title, placeholder: 'Title' %>
      </p>

      <p>
        <%= f.text_area :text, placeholder: 'Text' %>
      </p>

      <p>
        <%= f.submit(class: 'btn btn-success') %>
      </p>
  <% end %>
</div>
