<%= title 'Home' %>

<div class="col-md-12">

<% group_by_created_at(@articles).each do |date, article_group| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= today_or_date(date) %></h3>
      </div>
      <div class="panel-body">
        <% article_group.each do |article| %>
            <div class="row">
              <div class="col-md-1 text-right"><%= article.created_at.to_s(:time)%></div>
              <div class="col-md-8 text-left"><%= link_to article.title, article %></div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<%= javascript_tag do %>
  $( window ).ready(function() {
    setTimeout(function(){
      $('#banner').html(
        $('<iframe>', {
           src: 'http://example.com',
           id:  'howitzer',
           width: '280px',
           height: '350px',
           scrolling: "no"
         })
      );
      setTimeout(function(){ $('#howitzer').attr("src", 'http://howitzer-framework.io'); }, 2000);
    }, 1000);
  });
<% end %>

</div>
