<% @articles.each do |article| %>

  <section class="article__item">

    <%= link_to article, class: 'article__img' do %>
      <%=image_tag( article.image_filename.present? ? article.image_filename : fallback_image )%>
    <% end %>

    <div class="article__desc">
      <%= render 'articles/article_date', created_at: article.created_at %>
      <div class="article__heading">
        <h2><%= link_to article.title, article, class: 'article__title' %></h2>
        <%= render 'articles/article_meta', created_at: article.created_at, comments: article.comments, user: article.user, category: article.category %>
      </div>
    </div>

    <p class="article__text">
      <%= article.text %>
    </p>

    <%= link_to 'Read more', article, class: 'article__readmore btn__underline' %>

  </section>

  <% if signed_in_as_admin? %>
    <div class="admin__wrapper">
      <%= btn_edit 'Edit', edit_article_path(article) %>
      <%= btn_delete 'Delete', article_path(article) %>
    </div>
  <% end %>

<% end %>
<%= paginate @articles %>
