<div class="col-12">
  <% title 'Categories' %>
</div>

<div class="admin__wrapper">
  <%= btn_create 'New Category', new_category_path %>
</div>

<div class="col-12">
  <div class="row users__item align-items-center d-none d-lg-flex">
    <div class="col-2">#</div>
    <div class="col-7">Category</div>
    <div class="col-3">Available action</div>
  </div>

  <% @categories.each do |category| %>
    <div class="row users__item align-items-center">
      <div class="col-md-6 col-lg-2 users__line comments__img">
        <%= category.id %>
      </div>
      <div class="col-md-6 col-lg-7 users__line">
        <div class="users__label">User name: </div>
        <%=link_to category.name, category_path(category) %>
      </div>
      <div class="col-sm-12 col-lg-3 users__line">
        <% if category %>
          <%= btn_edit 'edit', edit_category_path(category) %>
          <%= btn_delete 'delete', delete_category_path(category) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
