<% if user_signed_in? %>
    <li>
      <% if current_user.admin? %>
        <span class="admin-user-title"><%= current_user.name %></span>
      <% else %>
        <%= link_to 'EDIT ACCOUNT', edit_user_registration_path %>
      <% end %>
    </li>
    <li><%= link_to 'LOGOUT', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
    <li class="<%=current_tab_class(:sign_in)%>"><%= link_to 'LOGIN', new_user_session_path %></li>
    <li class="<%=current_tab_class(:register)%>"><%= link_to 'SIGN UP', new_user_registration_path %></li>
<% end %>