<% if user_signed_in? %>
    <li>
      <% if current_user.admin? %>
        <span><%= current_user.name %></span>
      <% else %>
        <%= link_to 'Edit account', edit_user_registration_path %>
      <% end %>
    </li>
    <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
    <li><%= link_to 'Login', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>