<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title><%= content_for?(:title) ? "#{ApplicationHelper::APPLICATION_NAME} - #{yield(:title)}" : ApplicationHelper::APPLICATION_NAME %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Demo Www" %>">
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
