<div class="header">
  <div class="container">
    <div class="logo">
      <a href="<%=root_path%>"><%=image_tag('logo.jpg')%></a>
    </div>
    <div class="top-menu">
      <span class="menu"> </span>
      <ul>
        <li class="<%=current_tab_class(:home)%>"><%= link_to 'HOME', root_path %></li>
        <%= render 'layouts/navigation_links' %>
        <%= render 'layouts/devise_links' %>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
