<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>
<main role="main">
  <%= render 'layouts/messages' %>
  <section class="hero"
           style="background-image: url(http://deothemes.com/envato/enigma/html/img/blog/blog_title_bg.jpg)">
    <!-- TODO replace background-image url to proper from cdn-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="hero__content">
            <h1 class="hero__heading"><%= yield(:title) %></h1>
            <%= render 'layouts/breadcrumb' %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <aside id="sidebar">
    <section id="banner"></section>
  </aside>

  <% if content_for?(:content) %>
    <%= yield(:content) %>
  <% else %>

    <div class="container wrapper">
      <div class="row">
        <%= yield %>
      </div>
    </div>

  <% end %>

</main>

<%= render 'layouts/footer' %>

</body>
</html>
