<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<main role="main" class="devise wrapper__full-height">
  <div>
  <%= render 'layouts/messages' %>
  <div class="container wrapper">
    <div class="row">
      <div class="col-12 align-self-center">
        <div class="authform__wrapper">
          <div class="authform__logo">
            <a href="/"><%= svg 'logo-pic' %></a>
          </div>
          <h3 class="authform__title">
            <%= yield(:title) %>
          </h3>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
</body>
</html>
